@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Teko:wght@300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background: rgb(36, 111, 222);
  background: linear-gradient(90deg, rgba(36, 111, 222, 1) 0%, rgba(163, 70, 70, 1) 100%);
  padding: 16px;
}

main {
  width: 30%;
  max-width: 800px;
  min-width: 300px;
  margin: 50px auto;
  background-color: hsla(0, 100%, 100%, 0.1);
  border-radius: 40px;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.3);
}

form {
  padding-bottom: 25px;
}

h1 {
  font-family: "Gloock", serif;
  font-size: 5.4rem;
  text-align: center;
  padding-top: 50px;
  color: #fff;
  text-shadow: 3px 5px 2px #474747;
  animation: text-shadow 1500ms ease-in-out infinite alternate;
}

@keyframes text-shadow {
  from {
    text-shadow: 3px 5px 2px #474747;
  }

  to {
    text-shadow: 0 1px 0 #CCCCCC, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
  }
}

fieldset {
  border: none;
}

input {
  height: 4vh;
  font-size: 1.5rem;
  font-family: "Teko", sans-serif;
  text-align: center;
  border: 0 solid #fff;
  border-radius: 40px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

fieldset>input:focus {
  color: #fff;
  background-color: rgb(97, 124, 167);
  outline: none;
}

input:focus::placeholder {
  font-size: 0;
}

fieldset:first-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px 0 0;
}

fieldset:first-of-type input {
  width: 30%;
}

fieldset:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

fieldset:nth-of-type(2) input {
  width: 72%;
  margin: 20px 0;
}

fieldset:last-of-type {
  display: block;
  font-size: 1.5rem;
  font-family: "Teko", sans-serif;
  text-align: center;
  color: hsl(14, 96%, 30%);
}

fieldset:last-of-type label {
  font-size: 1.65rem;
  font-weight: 600;
  display: grid;
  grid-template-columns: 1rem auto auto;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

input[type="checkbox"] {
  box-shadow: none;
  cursor: pointer;
  appearance: none;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.2rem solid #2c2929;
  border-radius: 0.3rem;
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65rem;
  height: 0.65rem;
  transform: scale(0);
  transition: 250ms transform ease-in-out;
  box-shadow: inset 1rem 1rem rgb(141, 52, 52);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

a {
  color: rgb(165, 42, 42);
  text-decoration: none;
  animation: light-on 1500ms ease-in-out infinite alternate;
}

@keyframes light-on {
  from {
    color: rgb(165, 42, 42);
  }

  to {
    color: hsl(0, 0%, 0%);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
      0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
  }
}

button {
  width: 25%;
  color: white;
  background-color: rgba(255, 201, 0, 1);
  border: none;
  border-radius: 40px;
  display: block;
  padding: 5px;
  margin: 30px auto;
  font-family: "Teko", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

button:hover {
  font-weight: 600;
  background-color: rgba(45, 142, 150, 1);
  color: hsl(0, 0%, 0%);
  box-shadow: 0 25px 25px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform: scale(1.02);
}

@media (max-width: 1460px) {
  h1 {
    font-size: 4.5rem;
  }

  button {
    font-size: 1.25rem;
  }
}

@media (max-width: 1230px) {
  h1 {
    font-size: 3rem;
  }

  button {
    font-size: 1rem;
  }
}

@media (max-width: 1080px) {
  fieldset:first-of-type {
    flex-direction: column;
    align-items: center;
    padding: 20px 0 0;
  }

  fieldset:first-of-type input {
    width: 72%;
    margin: 20px 0;
  }

  fieldset:first-of-type input:last-child {
    margin: 20px 0 0;
  }
}